.auth-form{
    width: 330px;
    border: 2px solid #006666;
    padding: 20px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    background-color:  #99ffff;
}
.auth-heading{
    text-align: center;
    color: #006666;
}
.user-input{
    display: block;
    margin: 15px auto;
    width: 100%;
    border: 1px solid #006666;
    border-radius: 3px;
    padding: 2px 5px ;
}
.user-input:focus, .user-input:active{
    outline: none;
}
.btn-auth{
    background-color: #006666;
    color: white;
    padding: 4px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.btn-auth:hover{
    transition: 0.3s;
    background-color: #012c2c;
}
.pg-link{
    text-decoration: none;
    color: #012c2c;
    display: block;
    text-align: center;
    margin-top: 10px;
}
.screen-container{
    width: calc(100 - 500px);
    height: 100%;
    background-color: blue;
    border-radius: 30px;
}

